version: '3.9'

services:
 server:
  build: ./server
  container_name: express-server
  ports:
    - "4242:4242"
  networks:
     - fullstack-net
  restart: unless-stopped     
 client:
  build: ./client
  container_name: react-client
  ports:
    - "5173:3000"
  networks:
    - fullstack-net
  restart: unless-stopped    
  depends_on:
    - server
      
networks:
  fullstack-net:
   driver: bridge
